.link-notepads{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 105px;
 }
 .linking-notepads{
     text-decoration: none;
     color: #917B9F;
     font-size: 25px;
     font-style: italic;
     font-weight: 500;
     line-height: normal;
     cursor: pointer;
     margin: 0;
 }
 .price-cart-notepad{
     display: flex;
     justify-content: start;
     align-items: center;
     gap: 15px;
 }
 .notepad-card{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 30px;
     margin: 0 20px;
     place-items: center;
 }
 .image-notepad{
     border-radius: 10px;
     background: #FAFAFA;
     box-shadow: 8px 9px 4px -1px rgba(0, 0, 0, 0.25);
 }
 .image-notepad{
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 15px;
     width: 300px;
 }
 .img-note{
     border-radius: 10px;
     cursor: pointer;
 }
 .name-notepad{
     color: #000;
     font-size: 30px;
     font-style: normal;
     font-weight: 500;
     line-height: normal;
     cursor: pointer;
     margin: 0;
 }
 .price-notepad{
     color: #A890AD;
     font-size: 30px;
     font-style: normal;
     font-weight: 500;
     line-height: normal;
     cursor: pointer;
 }
 .cart-notepad{
     cursor: pointer;
     width: 35px;
     bottom: 7px;
     position: relative;
 }


 /*Tablet*/
@media screen and (min-width:767px) and (max-width:1023px){
   .notepad-card{
    grid-template-columns: repeat(2, 1fr);
   }
}
/*Phone*/
@media (max-width: 766px){
    .notepad-card{
        grid-template-columns: repeat(1, 1fr);
       }
       .link-notepads{
        justify-content: space-evenly;
       }
}
    