.form-title-contact{
    display: flex;
    gap: 7px;
    margin: 0 20px;
}
.regular-title-contact{
    color: #000;
    font-size: 45px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.italic-title-contact{
    color: #917B9F;
    font-size: 45px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
}
.form-container-contact{
    border-radius: 10px;
    background: #F2E6E8;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 0 20px;
    display: flex;
    justify-content: space-evenly;
}
.left-form-contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 20px
}
.name-phone-contact{
    display: flex;
    justify-content: space-between;
    gap: 10%;
}
.full-name-contact{
    display: flex;
    flex-direction: column;
}
.label-contact{
    color: #000;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.input-contact{
    border-radius: 10px;
    border: 1px solid #000;
    height: 45px;

}


.right-text-contact{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    margin: 10px 40px;
}
.title-right-side{
    display: flex;
    gap: 7px;
}
.craft-your{
    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.plans{
    color: #1B294E;
    font-size: 30px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
}
.text-contact{
    color: #000;
    text-align: justify;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.extra-info-contact{
    display: flex;
    justify-content: space-evenly;
    border-radius: 10px;
    background: #F2E6E8;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 20px;
}
.block-contact{
    border-radius: 10px;
    border: 1px solid #000;
    margin: 10px;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-icon{
    width: 51px;
    height: 51px;

}
.info-contact{
    color: #000;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/*FAQ*/
.faq-wrapper{
    display: flex;
    height: 30vh;
    justify-content: start;
    align-items: center;
    margin: 0 20px;
    padding-top: 20px;
}
.accordion-faq{
    width: 100%;
}
.item-faq{
    padding-bottom: 20px;
}
.faq-title{
    display: flex;
    justify-content: space-between;
    color: #000;
    text-align: justify;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}
.faq-line{
    background: #917B9F;
    width: 100%;
    height: 2px;
}
.faq-content{
    color: #000;
    text-align: justify;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0,1,0,1);

}
.faq-content.show{
    height: auto;
    max-height: 9999px;
    transition: all 0.5s cubic-bezier(1,0,1,0);
}

