.gallery-container-home{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    margin-bottom: 40px;


}
.gallery-home {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "long-picture-home top-left-home top-right-home"
      "long-picture-home bottom-left-home bottom-left-home"; 
    gap: 5px;
    place-items: center; 

    
  }
  
  .long-picture-home {
    grid-area: long-picture-home; 
  }
  
  .top-left-home {
    grid-area: top-left-home;
  }
  
  .top-right-home {
    grid-area: top-right-home;
  }
  
  .bottom-left-home {
    grid-area: bottom-left-home;
  }

  /*Tablet*/
 @media screen and (min-width:767px) and (max-width:1023px){
  .gallery-home {
    display: flex;
    flex-direction: column;
  }

  .long-picture-home,
  .top-left-home,
  .top-right-home,
  .bottom-left-home {
    width: 100%;
  }

  .long-picture-home,
  .top-left-home,
  .top-right-home{
    display: none; 
  }
  .image-gallery{
    width: 700px;

  }
 }

/*Phone*/
@media (max-width: 766px){
  .gallery-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }



  .top-left-home,
  .top-right-home,
  .bottom-left-home{
    display: none; 
  }
  .image-gallery1{
    width: 320px;
    /* margin-left: 20px; */
    display: flex;
    justify-content: center;
  }
}
  