/*TopBar*/
.sidebar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px;
    padding: 10px;
}
.link-topBar{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.link-topBar:hover{
    border-bottom: 5px solid #917B9F;
}
.active1{
    border-bottom: 5px solid #917B9F;
}.inactive-icon {
    opacity: 0.5;
}
.inactive {
    opacity: 0.5; 
}
.one-cover{
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*name on planner*/
.name-on-cover-cover{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.label-cover{
    color: #000;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.input-submit-cover{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}
.input-cover{
    border-radius: 10px;
    border: 3px solid #000;
    box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.25);
    color: #A890AD;
    font-size: 35px;
    font-style: italic;
    font-weight: 300;
    line-height: normal;
}
.submit-cover{
    color: #FFF;
    text-align: center;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 10px;
    background: #917B9F;
    box-shadow: 4px 5px 4px 0px rgba(0, 0, 0, 0.25);
}

/*Covers*/
.cover-card-cover{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin: 0 20px;
}
.image-cover{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-radius: 10px;
    background: #FAFAFA;
    box-shadow: 8px 9px 4px -1px rgba(0, 0, 0, 0.25);
    margin: 20px;
}
.img-cover{
    width: 300px;
    border-radius: 10px;
    margin: 20px;
}
.name-cover{
    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/*Information*/
.information-information{
    border-radius: 10px 10px 0px 0px;
    background: #F2E6E8;
}
.page-information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 10px;
    padding: 20px;
    width: 50%;
    margin: 0 auto;
    gap: 20px;
}
.title-information{
    color: #000;
    text-align: center;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.text-information{
    color: #000;
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.form-information{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
   
}
.input-information{
    border-radius: 10px;
    border: 2px solid #000;
    padding: 10px;
    width: 450px;
}
/*Dates*/
.Dates{
    background: #F2E6E8;
    padding: 20px;
}
.page-dates{
    background: white;
    border-radius: 10px;
    margin: 0 auto;
    width: 600px;
    padding: 10px;
}
.text-part-dates{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text-dates{
    text-align: center;
}
.radio-btn-dates{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.button-dates{}
.checkbox-custom{
    width: 20px; 
    height: 20px; 
    border: 2px solid #917B9F; 
    border-radius: 5px; 
    margin-right: 5px; 
    cursor: pointer; 
}
.labels-dates-m-s{
    color: #000;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.division-line{
    height: 3px;
    background-color: #50415A;
    /* border: none;  */
    /* margin: 10px 0; */
}
.toggle-start-end-dates{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.s-e-dates.active-btn {
    color: #917B9F !important;
  }
.s-e-dates:not(.active-btn):hover {
    color: #917B9F;
  }

.s-e-dates{
    color: #000;
    text-align: center;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
    background: transparent;
    cursor: pointer;
}
.chosen-date-dates{
    margin: 10px auto;
    color: #000;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 1px solid #000;
    border-radius: 10px;
    width: fit-content;
    padding: 2%;
}
.calendar-dates{
    margin: 10px 40px;
}
