/*TopBar*/
.sidebar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px;
    padding: 10px;
}
.link-topBar{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.link-topBar:hover{
    border-bottom: 5px solid #917B9F;
}
.active1{
    border-bottom: 5px solid #917B9F;
}.inactive-icon {
    opacity: 0.5;
}
.inactive {
    opacity: 0.5; 
}
.one-cover{
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*name on planner*/
.name-on-cover-cover{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.label-cover{
    color: #000;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.input-submit-cover{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}
.input-cover{
    border-radius: 10px;
    border: 3px solid #000;
    box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.25);
    color: #A890AD;
    font-size: 35px;
    font-style: italic;
    font-weight: 300;
    line-height: normal;
}
.submit-cover{
    color: #FFF;
    text-align: center;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 10px;
    background: #917B9F;
    box-shadow: 4px 5px 4px 0px rgba(0, 0, 0, 0.25);
}

/*Covers*/
.cover-card-cover{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin: 0 20px;
}
.image-cover{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-radius: 10px;
    background: #FAFAFA;
    box-shadow: 8px 9px 4px -1px rgba(0, 0, 0, 0.25);
    margin: 20px;
}
.img-cover{
    width: 300px;
    border-radius: 10px;
    margin: 20px;
}
.img-cover-modal{
    width: 300px;
    border-radius: 10px;
    margin: 20px;
}
.img-cover-modal:hover{
    transform: scale(2);
}
.name-cover{
    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.modal {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff; 
    padding: 20px;
    width: 1000px;

  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
  }
  .cover-images-modal{
    display: flex;
    justify-content: space-evenly;
  }
  .name-cover-modal{
    margin: 0 auto;
    color: #000;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .name-cover-modal1{
    margin: 0 auto;
    color: #000;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
  .choose-cover-modal{
    border-radius: 10px;
    background: #917B9F;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: fit-content;
    border: none;
    margin: 0 auto;
    padding: 1%;
  }
  .choose-cover-modal:hover{
    border: 2px solid #917B9F;
    color: #917B9F;
    background: transparent;
  }

/*Information*/
.information-information{
    border-radius: 10px 10px 0px 0px;
    background: #F2E6E8;
}
.page-information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 10px;
    padding: 20px;
    width: 50%;
    margin: 0 auto;
    gap: 20px;
}
.title-information{
    color: #000;
    text-align: center;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.text-information{
    color: #000;
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.form-information{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
   
}
.input-information{
    border-radius: 10px;
    border: 2px solid #000;
    padding: 10px;
    width: 450px;
}
/*Dates*/
.Dates{
    background: #F2E6E8;
    padding: 20px;
}
.page-dates{
    background: white;
    border-radius: 10px;
    margin: 0 auto;
    width: 600px;
    padding: 10px;
}
.page-dates1{
    background: white;
    border-radius: 10px;
    margin: 0 auto;
    padding: 10px;
    height: fit-content;
}
.text-part-dates{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text-dates{
    text-align: center;
}
.radio-btn-dates{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
/* .button-dates{} */
.checkbox-custom{
    width: 20px; 
    height: 20px; 
    border: 2px solid #917B9F; 
    border-radius: 5px; 
    margin-right: 5px; 
    cursor: pointer; 
}
.labels-dates-m-s{
    color: #000;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.division-line{
    height: 3px;
    background-color: #50415A;
    /* border: none;  */
    /* margin: 10px 0; */
}
.toggle-start-end-dates{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.s-e-dates.active-btn {
    color: #917B9F !important;
  }
.s-e-dates:not(.active-btn):hover {
    color: #917B9F;
  }

.s-e-dates{
    color: #000;
    text-align: center;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
    background: transparent;
    cursor: pointer;
}
.chosen-date-dates{
    margin: 10px auto;
    color: #000;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 1px solid #000;
    border-radius: 10px;
    width: fit-content;
    padding: 2%;
}
.calendar-dates{
    margin: 10px 40px;
}
/*Events*/
.events-form{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
}
.event-name{
    border-radius: 10px;
    border: 1px solid #000;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.50);
    padding: 1%;
}
.add-event-btn{
    background: #917B9F;
    color: white;
    border: none;
    padding: 1%;
    border-radius: 10px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.50);
}
.table-events{
    width: 582px;
}
.title-table-events{
    border-radius: 10px;
}

.title-th-table-events{
    background-color: #f2f2f2;
    padding: 10px;
    text-align: left;
}
.add-event{
    height: 20px;
    width: 20px;
    cursor: pointer;
}
/*Pages*/
.mockup-display-pages{
    width: 100%;
    height: 100%;
}
.toggle-btns-pages{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.weekly-daily-btns{
    border: none;
    border-radius: 10px;
    background: #917B9F;
    color: #fff;
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 1%;
}
.active-daily {
    background-color: transparent;
    color: #000;
  }
.templates-pages{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    padding-top: 20px;

}
.template-card{
    border-radius: 10px;
    background: #FAFAFA;
    box-shadow: 8px 9px 4px -1px rgba(0, 0, 0, 0.25);
}
.choose-template{
    height: 100%;
    width: 200px;
    border-radius: 10px;
}
/*AddOns*/
.map-images{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.add-ons-images{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.add-page-addOns{
    margin: 0 auto;
}
.dropdown-addOns{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
#dropdown{
    border: none;
    background: #917B9F;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 10px;
    padding: 7px;
    width: 150px;
    text-align: center;
}

