.rev1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    }

    
    .revdiv{
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .revbox{
        flex: 1;
        font-family: 'Oooh Baby', sans-serif;
    font-size: 30px;
    margin-top: 18px;
    margin-bottom: 1%;
    text-align: center;
    width: 80%;
    
    }
    .revname{
        flex: 1;
        font-family: 'Oooh Baby', sans-serif;
    font-size: 36px;
    /* margin-top: 18px; */
    margin-bottom: 7%;
    text-align: center;
    color: rgb(187, 0, 9);
    
    }
    .show-review{
        color: black;
    }
    .review-titles{
        display: flex;
        justify-content: center;
        align-items: center;
        color: #917B9F;
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-top: 50px;
    }
    .stars{
        color: #917B9F;
        width: 20px;
        height: 20px;
        font-size: 40px;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
    @media (max-width: 766px){
        .review-titles{
            font-size: 27px;
        }
    }